<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="3124MowyApps.SendToXBMC" Publisher="CN=BB7731B4-1956-4CE9-9D2A-E12BD2A9A3B8" Version="1.0.0.1" />
  <Properties>
    <DisplayName>Send To XBMC</DisplayName>
    <PublisherDisplayName>Mowy Apps</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="SendToXBMC.App">
      <m2:VisualElements DisplayName="Send to XBMC" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="SendToXBMC" ForegroundText="light" BackgroundColor="#B32A2A">
        <m2:DefaultTile Square70x70Logo="Assets\Square70x70Logo.png" ShortName="Send to XBMC">
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#B32A2A" />
      </m2:VisualElements>
      <Extensions>
        <Extension Category="windows.shareTarget">
          <ShareTarget>
            <DataFormat>WebLink</DataFormat>
          </ShareTarget>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="privateNetworkClientServer" />
  </Capabilities>
</Package>